.form-header{
    font-size: 32px;
    background:linear-gradient(to right, 
    rgba(4, 127, 209, 0.719)3%,    
    rgb(76, 4, 211) 33%,     rgb(221, 5, 221)100%
   );
    background-clip: text;
     -webkit-text-fill-color:transparent;
}
.form-container{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-content: center;

    .form{
        background-color: rgb(255, 255, 255);
        width: 25rem;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        padding: 3rem;
        box-shadow:6px 5px 15px  rgba(128, 127, 127, 0.815);
        // display: flex;
        // align-self: center;
        // justify-content: center;
    }
}

.arrow-logo{
    height: 15px;
    fill: white;
    transform: translateX(150%);
    -webkit-transform: translateX(150%);
    -moz-transform: translateX(150%);
    -ms-transform: translateX(150%);
    -o-transform: translateX(150%);
   
    
    &:hover &:active{
        fill: rgba(184, 20, 184, 0);
        transform: translateX(300%);
        -webkit-transform: translateX(300%);
        -moz-transform: translateX(300%);
        -ms-transform: translateX(300%);
        -o-transform: translateX(300%);
        transition:all ease-in 1s ;
        -webkit-transition:all ease-in 1s ;
        -moz-transition:all ease-in 1s ;
        -ms-transition:all ease-in 1s ;
        -o-transition:all ease-in 1s ;
}
}
